<div class='flex-row flex items-center justify-center gap-5 mt-5 text-2xl'>
    <%= link_to 'Home', home_path, class: 'text-white bg-black p-3 border-1 border-black rounded-2xl' %>
    <%= link_to 'Contatti', contatti_path, class: 'text-white bg-black p-3 border-1 border-black rounded-2xl' %>
    <%= link_to 'Colazione', colazione_path, class: 'text-white bg-black p-3 border-1 border-black rounded-2xl' %>
    <%= link_to 'Pranzo', pranzo_path, class: 'text-white bg-black p-3 border-1 border-black rounded-2xl' %>
    <%= link_to 'Merda', merenda_path, class: 'text-white bg-black p-3 border-1 border-black rounded-2xl' %>
    <%= link_to 'Cena', cena_path, class: 'text-white bg-black p-3 border-1 border-black rounded-2xl' %>
</div>