<div class='flex-row flex items-center gap-5 mb-5 text-2xl'>
    <%= image_tag '/images/icon.png', class:"w-30" %>
    <%= link_to 'Home', home_path, class: '' %>
    <%= link_to 'Contatti', contatti_path, class: '' %>
    <%= link_to 'Colazione', colazione_path, class: '' %>
    <%= link_to 'Pranzo', pranzo_path, class: '' %>
    <%= link_to 'Merda', merenda_path, class: '' %>
    <%= link_to 'Cena', cena_path, class: '' %>
</div>